@model Category

<div class="container ">
    <div class="card shadow border-0 mt-4" style=" border-radius: 10px">
        <div class="card-header  ml-0 py-3" @* style="background:#007bff" *@ style="background-image: linear-gradient(to right, #75A4FF, #2F5ED1);border-radius: 10px">
            <div class="row">
                @*  bg-primary bg-gradient #007bff *@
                <div class="col-12 text-center">
                    <h3 class="text-white py-2">Edit Category</h3>
                </div>
            </div>
        </div>
        <div class="card-body p-4">
            <form method="post" class="row">
                @* <input asp-for="Id" hidden/> *@
                <div class="container">
                    <div class=" border p-3 ">
                        @*  <div asp-validation-summary="All"></div> *@
                        <div asp-validation-summary="ModelOnly"></div>
                        @*  <div asp-validation-summary="None"></div> *@
                        <div class="form-floating py-2 col-12">
                            <input asp-for="Name" class="form-control border-0 shadow" />
                            <label asp-for="Name" class="ms-2"></label>
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-2 col-12">
                            <input asp-for="DisplayOrder" class="form-control border-0 shadow" />
                            <label asp-for="DisplayOrder" class="ms-2"></label>
                            <span asp-validation-for="DisplayOrder" class="text-danger"></span>
                        </div>
                        <div class="row mt-3">
                            <div class="col-6">
                                <button type="submit" class="btn btn-primary form-control" style=" border-radius: 5px">Update</button>
                            </div>
                            <div class="col-6">
                                <a asp-controller="Category" asp-action="Index" class="btn btn-warning form-control" style=" border-radius: 5px">
                                    Back to List
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>


@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
        //Creating client side validations
    }
}




